<a href="https://colab.research.google.com/github/yeonji200522-oss/Hands-on-Machine-Learning/blob/main/%ED%95%B8%EC%A6%88%EC%98%A8%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**2장 머신러닝 프로젝트 처음부터 끝까지**
부동산 데이터 프로젝트를 가정.  
단계 설명  
1. 큰 그림 확인  
2. 데이터 수집  
3. 인사이트를 위해 탐색하고 시각화  
4. 머신러닝 알고리즘을 위해 데이터 준비  
5. 모델 선택, 훈련  
6. 파인 튜닝  
7. 솔루션 제시  
8. 시스템 론칭, 모니터링, 유지 보수

###**2.1 실제 데이터로 작업하기**
공개 데이터 저장소  
openML, kaggle, PapersWithCode,UC 어바인 머신러닝 저장소, 아마존 AWS 데이터셋, 텐서플롯 데이터셋  
메타 포털  
데이터 포털, 오픈 데이터 모니터  
기타  
위키백과 머신러닝 데이터셋 목록, Quora, 데이터셋 서브레딧  

###**2.2 큰그림보기**
####**2.2.1 문제 정의**
+ 파이프라인: 데이터 처리 component들이 연속되어 있는 것.  

비즈니스의 목적은 무엇인가? -> 현재 솔루션은 어떻게 구성되어 있는가?  
각 구역은 레이블된 훈련샘플을 가질 때 기대 출력값은 궁역의 중간 주택 가격을 설명. (지도 학습 문제)  
에측 대상이 연속적인 값일 때 회귀 문제.  
사용되는 특성이 여러 개 => 다변량 회귀  

####**2.2.2 성능 측정 지표 선택**
회귀 문제에서 모델의 예측값과 실제값 사이의 오차를 측정하는 지표인 RMSE를 대표적으로 사용  
**RMSE(평균제곱근오차)**  
- 회귀문제에서 가장 대표적으로 사용  
- 오차가 커질 수록 값이 더욱 증가  
- 이상치에 민감하다는 단점  
$$
\text{RMSE} = \sqrt{\frac{1}{m}\sum_{i=1}^{m}(h(x^{(i)})-y^{(i})^2}
$$  

**MAE (평균 절대 편차)**
- 예측 오차의 절댓값 평균  
- RMSE보다 이상치에 덜 민감  
$$
\text{MAE} = \frac{1}{m} \sum_{i=1}^{m} |h(x^{(i)})-y^{(i)}|
$$

**노름(norm)**  
RMSE, MAE모두 예측값과 타깃값 사이의 거리를 재는 방법  
RMSE는 유클리드 노름, 절댓값의 합을 계산하는 것은 맨해튼 노름  
노름의 지수가 클수록 큰 값의 원소에 치우쳐져 작은 값은 무시.  

####**2.2.3 가정 검사**

###**2.3 데이터 가져오기**
####**2.3.5 데이터 다운로드**

In [1]:
from pathlib import Path
import pandas as pd
import tarfile
import urllib.request

def load_housing_data():   #load_housing_data()함수를 통해 datasets/housing.tgz 파일 찾기
  tarball_path = Path("datasets/housing.tgz")
  if not tarball_path.is_file():   #datasets/housing.tgz 파일을 찾지 못하면 dataset 디렉터리 생성
    Path("datasets").mkdir(parents=True, exist_ok=True)
    url = "https://github.com/ageron/data/raw/main/housing.tgz" #깃허브 저장소에서 housing.tgz 파일 다운로드
    urllib.request.urlretrieve(url, tarball_path)
    with tarfile.open(tarball_path) as housing_tarball:
      housing_tarball.extractall(path="datasets")
  return pd.read_csv(Path("datasets/housing/housing.csv")) #이 파일 안의 데이터를 판다스 데이터프레임으로 로드해 객체 반환

housing = load_housing_data()

/tmp/ipython-input-1902787105.py:13: DeprecationWarning: Python 3.14 will, by default, filter extracted tar archives and reject files or modify their metadata. Use the filter argument to control this behavior.
  housing_tarball.extractall(path="datasets")

####**2.3.6 데이터 구조 훑어보기**

아래 표를 참고  
+ 특성은 longitude, latitude, 등 10개  
+ .head()함수는 처음 다섯 행을 확인  
+ .info()함수는 전체 행 수, 각 특성의 타입과 널이 아닌 값의 개수를 확인

In [3]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB